<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-urs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/eacf9515eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body class="white-text">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="fa-solid fa-chess-king"></i>Check-urs.com</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
                <li><a href="play"><i class="material-icons left">flag</i> Play now!</a></li>
                <li><a href="login"><i class="material-icons left">person</i> Login</a></li>
                <li><a href="dashboard"><i class="material-icons left">dashboard</i> My Games</a></li>
            </ul>
        </div>
    </nav>
    <ul class="right sidenav" id="mobile-demo">
        <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
        <li><a href="play"><i class="material-icons left">flag</i> Play now!</a></li>
        <li><a href="login"><i class="material-icons left">person</i> Login</a></li>
        <li><a href="dashboard"><i class="material-icons left">dashboard</i> My Games</a></li>
    </ul>

    <div class="container blue-grey lighten-1 big-round-section">
        <div class="section" id="list">
            <h1>Your Games:</h1>
            <table>
                <thead>
                    <tr>
                        <th>#&nbsp;&nbsp;</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Moves</th>
                        <th>Opponent</th>
                        <th>Outcome</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>09/23/2022</td>
                        <td>2:30:43 PM</td>
                        <td>93</td>
                        <td>Mudasir</td>
                        <td>Win</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="detail">
                                <i class="material-icons right">edit</i>
                                Info/Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>10/23/2022</td>
                        <td>12:18:43 AM</td>
                        <td>86</td>
                        <td>Joe</td>
                        <td>Win</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="detail">
                                <i class="material-icons right">edit</i>
                                Info/Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>04/13/2023</td>
                        <td>5:16:28 PM</td>
                        <td>113</td>
                        <td>Anonymous</td>
                        <td>Loss</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="detail">
                                <i class="material-icons right">edit</i>
                                Info/Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large modal-trigger" href="#new">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating blue">
                <i class="material-icons left">file_upload</i>
            </a></li>
        </ul>
    </div>
          
    <section id="new" class="container deep-orange lighten-2 modal black-text">
        <div class="modal-content">
            <form class="black-text">
                <div class="row">
                    <div class="col s8 offset-s2">
                        <label for="outcome">Outcome</label>
                        <select id="outcome" name="outcome">
                            <option value="win">Win</option>
                            <option value="loss">Loss</option>
                            <option value="draw">Draw</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <label for="opponent">Opponent</label>
                        <input type="text" name="opponent" placeholder="Opponent">
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 offset-s2">
                        <label for="date">Date</label>
                        <input type="date" name="date">
                    </div>
                    <div class="col s3 offset-s2">
                        <label for="time">Time</label>
                        <input type="time" name="time">
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <label for="moves">Moves</label>
                        <input type="number" name="moves" placeholder="Moves">
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <label for="promotions">Promotions</label>
                        <input type="number" name="promotions" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <label for="tears">Tears</label>
                        <input type="number" name="tears" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <button class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/init.js"></script>

</body>

</html>
