<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&family=Quicksand&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/eacf9515eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link defer rel="stylesheet" href="css/login.css">
</head>

<body>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="fa-solid fa-chess-king"></i>Check-urs.com</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
                <li><a href="play"><i class="material-icons left">flag</i> Play now!</a></li>
                <li><a href="login"><i class="material-icons left">person</i> Login</a></li>
                <li><a href="dashboard"><i class="material-icons left">dashboard</i> My Games</a></li>
            </ul>
        </div>
    </nav>
    <ul class="right sidenav" id="mobile-demo">
        <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
        <li><a href="play"><i class="material-icons left">flag</i> Play now!</a></li>
        <li><a href="login"><i class="material-icons left">person</i> Login</a></li>
        <li><a href="dashboard"><i class="material-icons left">dashboard</i> My Games</a></li>
    </ul>

    <section id="signin">
        <div class="row container center-align big-round-section">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 valign-wrapper">
                        <span class="col s3 offset-s3">Don't have an account yet?</span>
                        <i class="material-icons right">arrow_forward</i>
                        <a href="signup" class="col s2 offset-s1 btn-large waves-effect waves-light indigo lighten-1">Sign Up</a>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label class="active" for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label class="active" for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light red" type="submit" name="action">Login
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>