
/* 
 * start of code taken from materialize docs example code
 * https://materializecss.com/text-inputs.html
 */

.input-field label, label {
    color: #000;
}

.input-field input[type=text]:focus + label {
  color: #000;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.input-field input[type=text].invalid {
  border-bottom: 1px solid #f00;
  box-shadow: 0 1px 0 0 #f00;
}

.input-field .prefix.active {
  color: #000;
}
/* end example code */

/* this extremely specific selector was manually retrieved from the materialize source */
input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #000;
}

.input-field input[type=text], .input-field input[type=email], .input-field input[type=password] {
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    width: 90%;
}
