:root {
    --accent-1: #f351b5;
    --accent-2: #6fb667;
    --bg-main-1: #2b2c35;
}

body {
    background-color: var(--bg-main-1);
    background-image: url('../assets/logo.png');
    font-family: 'Quicksand', sans-serif;
}

nav {
    background-color: var(--accent-2);
    color: #000;
    padding: 1rem;
    border-bottom: 5px dashed var(--accent-1);
    font-family: 'Ubuntu', sans-serif;
}

nav>.nav-wrapper {
    width: 90%;
    margin: 0 auto;
}

.material-icons {
    transition: 500ms;
}

.material-icons:hover, nav a:hover i.material-icons {
    color: var(--accent-1);
}

.brand-logo {
    font-size: 2rem;
    width: max-content;
}

.fa-chess-board {
    font-size: 10rem;
}

.big-round-section {
    background-color: #6fb667;
    opacity: 0.95;
    color: black;
    padding: 10vh 2vw;
    margin: 15vh auto;
    border-radius: 5rem;
}

@media screen and (max-width: 600px) {
    .big-round-section {
        margin: 10vh auto;
    }
    .brand-logo {
        font-size: 1rem;
    }
}